.AdminBar{
    background-color: rgb(245, 245, 209);
    margin: 25px 15px;
    
}
.AdminBar ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}
.AdminBar select {
    width: 350px;
    border-radius: 33px;
    height: 25px;
    color: #402A01;
    border: 1px solid white;
    padding: 0 15px;
}
.admin_labels {
    padding-right: 15px;
}