.CabeceraModal{
    width: 100%;
    margin: 5px;
    padding: 15px;
}
.CabeceraModal img{
    width: 25px;
}
.CabeceraModal button {
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #E19D22;
    border: 1px solid #E19D22 ;
    border-radius: 30px;
    outline: none;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    float: right;
}
.CabeceraModal button:hover{
    color: #FEFEDC;
    background-color: #402A01;
    cursor: pointer;
}