.ContenidoModal{
    width: 100%;
    margin: 2px 30px;
    padding: 8px;
}
.izq tr td, .der tr td{
    padding: 0 2px;
}
.izq{
    margin: 0 8px;
    text-align: center;
    flex: left;
    position: absolute;
}
.der {
    margin-left: 300px;
}
.Boton{
    margin-top: 75px;
    margin-left: 450px;
}
.ContenidoModal input, .ContenidoModal select{
    padding: 5.5px;
    border-radius: 33px;
    width: 150px;
    color: #402A01;
    border: 1px solid #E19D22;
    outline: none;
}
.ContenidoModal input:hover{
    border: 1px solid #E19D22;
}
#main_button{
    width: 150px;
    margin-left: 70px;
    margin-top: 15px;
    border: 1px solid #E19D22;
    border-radius: 33px;
    background-color: #E19D22;
    color: white;
    height: 25px;
}
#main_button:hover{
    background-color: #402A01;
    color: white;
}
.izq img {
    width: 170px;
}