.Docs {
    margin: 15px;
}
.img_logo{
    width: 150px;
    margin: 15px;
}
.Docs nav ul li {
    font-size: 20px;
    margin-left: 10px;
}
.Docs ul li {
    list-style: none;
}
.Docs h3{
    font-size: 25px;
    color: #D93030;
    margin: 15px;
}
.Docs h4{
    font-size: 30px;
    text-align: center;
    color: coral;
}
.Docs h5 {
    padding: 15px;
    color: coral;
}
.Docs h5:hover{
    color: white;
    background-color: coral;
}
.Docs h6 {
    font-size: 18px;
    padding: 3px 40px;
    color: #FA3C05;
}
.Docs h7{
    font-size: 16px;
    font-weight: 500;
    color: #FE5F23;
}
.imgDocs, .aclaracion {
    margin-left: 45px;
    padding-top: 15px;
    margin-bottom: 15px;
}
.imgDocs{
    max-width: 1000px;
}
.aclaracion {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 10px;
}
.Docs table th {
    color: #4E4A47;
    padding: 7px 15px;
    font-weight: 400;
    font-size: 14px;
}
.Docs p, .entregables {
    margin: 15px;
    color: #4E4A47;
    margin-left: 80px;
}
.recursos{
    margin-left: 80px;
}
.recursos li {
    padding: 15px;
}
.entregables{
    list-style: circle;
}
.Docs nav {
    position: fixed;
}
.Docs article{
    margin-left: 200px;
    margin-right: 250px;
}