.Filtros{
    margin: 15px;
    float: left;
    position: absolute;
}
.Filtros ul li {
    list-style: none;
}
.Filtros form table {
    margin: 15px;
}

.Filtros table td {
    padding: 5px;
}
#botones_filtros input{
    margin-top: 10px;
    border-radius: 33px;
    width: 100px;
    height: 25px;
    color: #402A01;
    border: 1px solid white;
}
#botones_filtros input:hover{
    background-color: #402A01;
    color: #FEFEDC;
    border: 1px solid #402A01;
    cursor: pointer;
}