.Footer{
    background-color: #E19D22;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    flex-flow: wrap;
    padding: 1px 35px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 3px;
    min-width: 100%;
}
.logo_marciano{
    width: 25px;
}
