.Sectech {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 90px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 25px;
}
.Sectech h2 {
    color: #F24C3D;
    font-weight: 700;
}