.HeaderMars{
    display: inline;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    position: fixed;
    display: flex;
    top:0;
    width: 100%;
}
.Principal{
    margin-top: 150px;
    position: fixed;
    display: flex;
    background-color: white;
    left: 0;
}
.HeaderMars h1 {
    font-weight: 800;
    font-size: 70px;
    color: #F24C3D;
    display: inline-block;
    padding-left: 50px;
}
.img_logoM{
    width: 75px;
}
.img_M{
    width: 45px;
    margin: 15px 30px;
    border-radius: 40px;
}
.img_M:hover{
    background-color: #f9ccc3;
    border-radius: 0px;
}