.HeaderIndex{
    display: inline;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.img_logo {
    width: 10%;
    margin-right: 3%;
}
.HeaderIndex h1 {
    font-weight: 500;
    font-size: 70px;
    color: #E19D22;
    display: inline-block;
}
