.HeaderAdmin{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.HeaderAdmin h1{
    font-size: 65px;
}
.HeaderAdmin form {
    margin: 0;
    margin-left: 35%;
    margin-right: 15px;
}
.HeaderAdmin input {
    padding-left: 15px;
}
