.izqT {
    margin-left: 25px;
    width: 400px;
    flex: left;
    position: absolute;
}
.izqT img {
    width: 250px;
}
main header h3 {
    font-size: 100px;
    color: coral;
    margin: 15px 25px;
    font-family: 'Courier New', Courier, monospace;
}
.Cuerpo{
    margin-right: 50px;
    margin-left: 575px;
}
.Cuerpo h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    color: tomato;
}
.Cuerpo p{
    font-size: large;
}