.LogIn{
    padding: 5px 20px;
}
.LogIn h1 {
    font-size: 65px;
    font-weight: 600;
}
.LogIn img {
    width: 250px;
}
.LogIn ul li{
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    display: block;
    align-content: center;
}
.LogIn input {
    font-family: 'Montserrat', sans-serif;
    width: 350px;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #E19D22 ;
    border-radius: 30px;
    outline: none;
    color: #E19D22;
    justify-content: center;
    align-items: center;
}
.centro {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 15px 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px;
}