.Modal{
    padding: 15px;
    background-color: #111111bd;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.Contenedor {
    background-color: white;
    border-radius: 15px;
    min-height: 390px;
    min-width: 400px;
    margin: 200px 450px;
}
/*opacity: 0;
    pointer-events: none;*/