.SearchBar{
    margin: 2% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SearchBar input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #E19D22 ;
    border-radius: 30px;
    outline: none;
    color: #E19D22;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: large;
}
.img_icono{
    width: 30px;
}
button {
    background-color: transparent;
    border: none;
}
button:hover{
    cursor: pointer; 
}
