.Slider{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
    position: relative;
    border-radius: 30px;
    display: flex;
    user-select: none;
}
h2{
    font-weight: 300;
    font-size: 250%;
    color: #FEFEDC;
    padding: 25px;
}
.Slider img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 30px;
}
