/* ---------- GENERALIDADES ---------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh ;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-weight: 500;
  font-size: 500%;
  color: #E19D22;
}
h2 {
  font-weight: 300;
  font-size: 250%;
  color: #FEFEDC;
  padding: 25px;
}
a {text-decoration: none;}


